<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ScholarMaker - Learns Well With Others</title>
<link rel="stylesheet" type="text/css" href="/media/css/general.css"/>
<link rel="stylesheet" type="text/css" href="/media/css/nivo-slider.css"/>
<link rel="stylesheet" type="text/css" href="/media/css/prettyPhoto.css" />
<script type="text/javascript" src="/media/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="/media/js/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/media/js/jquery.scrollTo-1.4.2.min.js"></script>
<script type="text/javascript" src="/media/js/swfobject.js"></script>
<script type="text/javascript" src="/media/js/cufon-yui.js?v=1.09i"></script>
<script type="text/javascript" src="/media/js/League_Gothic_400.font.js"></script>
<script type="text/javascript" src="/media/js/functions.js"></script>

</head>

<body class="page-bg-type3">
	<a name="top" id="top"></a>
    
    <div id="pattern" class="pattern-type2"></div>
    
	<!-- begin of <#header> -->
	<div id="header">
    
    	<div id="header-bg"></div>
    
    	<div id="header-inner">
    	
            <!-- begin of <#logo> -->
            <div id="logo"><img src="/media/images/content/logo.png" alt="ScholarMaker"/></div><!-- end of <#logo> -->
            
            <!-- begin of <.navigation> -->
            <ul class="navigation">
               	<li><a href="#top">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#screenshots">Screenshots</a></li>
                <li><a href="#contact">Contact</a></li>
								<li><a href="#">Get Started!</a></li>
            </ul><!-- end of <.navigation> -->
        </div>
    </div>
	<!-- end of <#header> -->
    
    <!-- begin of <#content> -->
    <div id="content">

        <!-- begin of <#features> -->
        <div class="section" id="features">
            
            <div class="section-heading">
                <h1>FEATURES</h1>
          	</div>
            
            <div class="section-content">
                <div class="section-content-inner clearfix">
                 
                    <h2>Full Width</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
        
      <div class="column-container">
                        <div class="two-third sep">
                            <h2>Column (Two Third)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
          </div>          
        
                        <div class="one-third">
                            <h2>Column (One Third)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
          </div>
                    </div>
        
                    <div class="column-container">
                        <div class="one-third sep">
                            <h2>Column (One Third)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                      </div>          
        
                        <div class="two-third">
                            <h2>Column (Two Third)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>                          
                      </div>     
                    </div>
        
                    <div class="column-container">
                        <div class="one-half sep">
                            <h2>Column (One Half)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                      </div>          
        
                        <div class="one-half">
                            <h2>Column (One Half)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                      </div>          
                    </div>
        
                    <div class="column-container">
                        <div class="one-third sep">
                            <h2>Column (One Third)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                      </div>          
        
                        <div class="one-third sep">
                            <h2>Column (One Third)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                      </div>          
        
                        <div class="one-third">
                            <h2>Column (One Third)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                      </div>          
                    </div>
        
                    <div class="column-container">
                        <div class="one-fourth sep">
                            <h2>Column (One Fourth)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                      </div>          
        
                        <div class="one-fourth sep">
                            <h2>Column (One Fourth)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                      </div>          
        
                        <div class="one-fourth sep">
                            <h2>Column (One Fourth)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                      </div>          
        
                        <div class="one-fourth">
                            <h2>Column (One Fourth)</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                      </div>    
                    </div>
					
                    <div class="column-container">
                        <div class="two-third sep-big">
                            <h1>H1 Heading</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                          <h2>H2 Heading</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                          <h3>H3 Heading</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                          <h4>H4 Heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet. Curabitur pharetra, purus a commodo dignissim, sapien nulla tempus nisi, et varius nulla urna at arcu.</p>
                      </div>          
        
                        <div class="one-third">
                            <h2>List Types</h2>
                            <ul>
                                <li>Consectetur adipiscing elit.</li>
                                <li>Vestibulum ante ipsum primis in faucibus.</li>
                                <li>Consectetur adipiscing elit. </li>
                                <li>Suspendisse potenti.</li>
                            </ul>
        
                            <ol type="1">
                                <li>Consectetur adipiscing elit.</li>
                                <li>Vestibulum ante ipsum primis in faucibus.</li>
                                <li>Consectetur adipiscing elit. </li>
                                <li>Suspendisse potenti.</li>
                            </ol>
        
                        </div>

                        <div class="column-container">
                        	<h2>Button Types</h2>
                            <a class="button button-type1" href="#">Button Type 1</a>
                        	<a class="button button-type2" href="#">Button Type 2</a>
                        	<a class="button button-type3" href="#">Button Type 3</a>
                         	<a class="button button-type4" href="#">Button Type 4</a>
                         	<a class="button button-type5" href="#">Button Type 5</a>
                        	<a class="button button-type6" href="#">Button Type 6</a>
                        	<a class="button button-type7" href="#">Button Type 7</a>
                        </div>

                        
                    </div>
                    
                </div>
            </div>
        </div><!-- end of <#features> -->        
        
        {% block content %}{% endblock %}
            
    </div><!-- end of <#content> -->
    
<script type="text/javascript"> Cufon.now(); </script>

</body>
</html>

